<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Table</title>
  <link rel="stylesheet" href="../plugins/bootstrap-3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="../plugins/bootstrap-table/bootstrap-table.css">
</head>
<body>
<div>
  <table id="lexiconTable"
         data-filter-control="true"
         class="table table-hover table-responsive table-striped"
         data-pagination="true"
         data-page-list="[5, 10, 20, ALL]"
         data-click-to-select="true"
         data-show-footer="false">
  </table>
</div>
<script src="../plugins/zTree_v3/js/jquery-1.9.1.min.js"></script>
<script src="../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
<script src="../plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="../plugins/bootstrap-table/filter.js"></script>
<script src="../plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="../js/table.js"></script>
</body>
</html>
